In [1]:
import random
import pandas as pd
import numpy as np

pd.options.display.max_columns = 99

# Exploring TOTO dataset
https://en.lottolyzer.com/history/singapore/toto/page/1/per-page/50/summary-view

In [2]:
dat = pd.read_csv("toto_data.csv")
dat.head()

,Draw,Date,Winning Number 1,2,3,4,5,6,Additional Number,From Last,Same As Day,Odd,Even,1-10,11-20,21-30,31-40,41-50,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize
0,3905,2023-09-18,4,7,27,32,37,49,44,37,NaN,4,2,2,0,1,2,1,4.0,3244955.0,9.0,173815.0,647.0,1663.0,1441.0,408.0,34069.0,50.0,43569.0,25.0,603512.0,10.0
1,3904,2023-09-14,14,18,24,26,37,45,28,NaN,14.0,2,4,0,2,2,1,1,0.0,0.0,4.0,231326.0,222.0,1781.0,544.0,397.0,10664.0,50.0,16775.0,25.0,202156.0,10.0
2,3903,2023-09-11,1,20,21,27,38,48,17,NaN,NaN,3,3,1,1,2,1,1,0.0,0.0,0.0,0.0,101.0,2385.0,340.0,387.0,6206.0,50.0,9714.0,25.0,126062.0,10.0
3,3902,2023-09-07,17,19,24,26,31,46,37,NaN,NaN,3,3,0,2,2,1,1,0.0,0.0,1.0,242958.0,87.0,1920.0,178.0,512.0,4659.0,50.0,5645.0,25.0,85861.0,10.0
4,3901,2023-09-04,1,4,12,33,45,48,35,48,4.0,3,3,2,1,0,1,2,1.0,2836385.0,3.0,117883.0,145.0,1677.0,292.0,455.0,6900.0,50.0,8561.0,25.0,138468.0,10.0

In [3]:
dat.loc[dat['Division 7 Winners'].isna()].head()
# First draw with all 7 divisions is 2995.

,Draw,Date,Winning Number 1,2,3,4,5,6,Additional Number,From Last,Same As Day,Odd,Even,1-10,11-20,21-30,31-40,41-50,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize
911,2994,2014-10-06,5,12,13,25,33,34,45,NaN,NaN,4,2,1,2,1,2,0,0.0,0.0,6.0,49540.0,214.0,1389.0,466.0,638.0,11441.0,30.0,12899.0,20.0,NaN,NaN
912,2993,2014-10-02,1,6,26,40,41,45,10,NaN,NaN,3,3,2,0,1,1,2,1.0,3023700.0,12.0,47106.0,393.0,1439.0,1412.0,401.0,20267.0,30.0,34518.0,20.0,NaN,NaN
913,2992,2014-09-29,8,13,21,22,28,37,12,21,NaN,3,3,1,1,3,1,0,0.0,0.0,11.0,34364.0,339.0,1116.0,898.0,421.0,15289.0,30.0,23420.0,20.0,NaN,NaN
914,2991,2014-09-25,12,15,21,26,29,36,7,"29,36",NaN,3,3,0,2,3,1,0,0.0,0.0,9.0,27544.0,187.0,1326.0,618.0,402.0,8832.0,30.0,14906.0,20.0,NaN,NaN
915,2990,2014-09-22,9,17,18,27,29,36,31,NaN,NaN,4,2,1,2,2,1,0,2.0,327955.0,11.0,23490.0,402.0,643.0,583.0,444.0,13487.0,30.0,13876.0,20.0,NaN,NaN

In [4]:
dat.columns

Index(['Draw', 'Date', 'Winning Number 1', '2', '3', '4', '5', '6',
       'Additional Number ', 'From Last', 'Same As Day', 'Odd', 'Even',
       ' 1-10', ' 11-20', ' 21-30', ' 31-40', ' 41-50', 'Division 1 Winners',
       'Division 1 Prize', 'Division 2 Winners', 'Division 2 Prize',
       'Division 3 Winners', 'Division 3 Prize', 'Division 4 Winners',
       'Division 4 Prize', 'Division 5 Winners', 'Division 5 Prize',
       'Division 6 Winners', 'Division 6 Prize', 'Division 7 Winners',
       'Division 7 Prize'],
      dtype='object')

In [5]:
dat = dat.loc[dat['Draw'] >= 2995]
dat = dat.loc[:,['Draw','Winning Number 1','2','3','4','5','6','Additional Number ',
               'Division 1 Winners','Division 1 Prize', 'Division 2 Winners', 'Division 2 Prize',
               'Division 3 Winners', 'Division 3 Prize', 'Division 4 Winners','Division 4 Prize', 
               'Division 5 Winners', 'Division 5 Prize','Division 6 Winners', 'Division 6 Prize', 
               'Division 7 Winners','Division 7 Prize']]
dat = dat.rename(columns={'Additional Number ': 'Additional Number'})

In [6]:
dat

,Draw,Winning Number 1,2,3,4,5,6,Additional Number,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize
0,3905,4,7,27,32,37,49,44,4.0,3244955.0,9.0,173815.0,647.0,1663.0,1441.0,408.0,34069.0,50.0,43569.0,25.0,603512.0,10.0
1,3904,14,18,24,26,37,45,28,0.0,0.0,4.0,231326.0,222.0,1781.0,544.0,397.0,10664.0,50.0,16775.0,25.0,202156.0,10.0
2,3903,1,20,21,27,38,48,17,0.0,0.0,0.0,0.0,101.0,2385.0,340.0,387.0,6206.0,50.0,9714.0,25.0,126062.0,10.0
3,3902,17,19,24,26,31,46,37,0.0,0.0,1.0,242958.0,87.0,1920.0,178.0,512.0,4659.0,50.0,5645.0,25.0,85861.0,10.0
4,3901,1,4,12,33,45,48,35,1.0,2836385.0,3.0,117883.0,145.0,1677.0,292.0,455.0,6900.0,50.0,8561.0,25.0,138468.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2999,5,22,25,28,33,34,32,0.0,0.0,0.0,0.0,64.0,2162.0,178.0,424.0,4705.0,50.0,5774.0,25.0,81579.0,10.0
907,2998,8,11,17,21,41,49,35,1.0,3803159.0,3.0,115464.0,166.0,1435.0,350.0,372.0,8404.0,50.0,9021.0,25.0,148908.0,10.0
908,2997,4,9,31,34,40,44,35,0.0,0.0,2.0,119110.0,83.0,1974.0,216.0,414.0,5635.0,50.0,5731.0,25.0,90370.0,10.0
909,2996,19,28,31,43,45,48,41,0.0,0.0,1.0,216057.0,61.0,2436.0,108.0,751.0,3414.0,50.0,4846.0,25.0,69704.0,10.0
910,2995,11,12,25,28,34,47,15,1.0,2085106.0,1.0,280122.0,95.0,2028.0,239.0,440.0,5400.0,50.0,7553.0,25.0,102478.0,10.0

In [7]:
test = dat == 0
test.sum()
# Div 3 and 4 always have winners. Use them to determine prize pool.

Draw                    0
Winning Number 1        0
2                       0
3                       0
4                       0
5                       0
6                       0
Additional Number       0
Division 1 Winners    527
Division 1 Prize      527
Division 2 Winners     77
Division 2 Prize       77
Division 3 Winners      0
Division 3 Prize        0
Division 4 Winners      0
Division 4 Prize        0
Division 5 Winners      0
Division 5 Prize        0
Division 6 Winners      0
Division 6 Prize        0
Division 7 Winners      0
Division 7 Prize        0
dtype: int64

In [8]:
dat['Prize Pool_div3'] = dat['Division 3 Winners'] * dat['Division 3 Prize'] / 0.055
dat['Prize Pool_div4'] = dat['Division 4 Winners'] * dat['Division 4 Prize'] / 0.03

In [9]:
dat

,Draw,Winning Number 1,2,3,4,5,6,Additional Number,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize,Prize Pool_div3,Prize Pool_div4
0,3905,4,7,27,32,37,49,44,4.0,3244955.0,9.0,173815.0,647.0,1663.0,1441.0,408.0,34069.0,50.0,43569.0,25.0,603512.0,10.0,1.956293e+07,1.959760e+07
1,3904,14,18,24,26,37,45,28,0.0,0.0,4.0,231326.0,222.0,1781.0,544.0,397.0,10664.0,50.0,16775.0,25.0,202156.0,10.0,7.188764e+06,7.198933e+06
2,3903,1,20,21,27,38,48,17,0.0,0.0,0.0,0.0,101.0,2385.0,340.0,387.0,6206.0,50.0,9714.0,25.0,126062.0,10.0,4.379727e+06,4.386000e+06
3,3902,17,19,24,26,31,46,37,0.0,0.0,1.0,242958.0,87.0,1920.0,178.0,512.0,4659.0,50.0,5645.0,25.0,85861.0,10.0,3.037091e+06,3.037867e+06
4,3901,1,4,12,33,45,48,35,1.0,2836385.0,3.0,117883.0,145.0,1677.0,292.0,455.0,6900.0,50.0,8561.0,25.0,138468.0,10.0,4.421182e+06,4.428667e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2999,5,22,25,28,33,34,32,0.0,0.0,0.0,0.0,64.0,2162.0,178.0,424.0,4705.0,50.0,5774.0,25.0,81579.0,10.0,2.515782e+06,2.515733e+06
907,2998,8,11,17,21,41,49,35,1.0,3803159.0,3.0,115464.0,166.0,1435.0,350.0,372.0,8404.0,50.0,9021.0,25.0,148908.0,10.0,4.331091e+06,4.340000e+06
908,2997,4,9,31,34,40,44,35,0.0,0.0,2.0,119110.0,83.0,1974.0,216.0,414.0,5635.0,50.0,5731.0,25.0,90370.0,10.0,2.978945e+06,2.980800e+06
909,2996,19,28,31,43,45,48,41,0.0,0.0,1.0,216057.0,61.0,2436.0,108.0,751.0,3414.0,50.0,4846.0,25.0,69704.0,10.0,2.701745e+06,2.703600e+06
910,2995,11,12,25,28,34,47,15,1.0,2085106.0,1.0,280122.0,95.0,2028.0,239.0,440.0,5400.0,50.0,7553.0,25.0,102478.0,10.0,3.502909e+06,3.505333e+06

In [10]:
dat['Prize Pool_div3'].describe()

count    9.110000e+02
mean     4.831830e+06
std      3.654311e+06
min      2.206418e+06
25%      3.029473e+06
50%      3.680127e+06
75%      5.088118e+06
max      4.051291e+07
Name: Prize Pool_div3, dtype: float64

# Monte Carlo Simulation

In [11]:
'''
Types:
6. Ordinary
7. System 7
8. System 8
9. System 9
10. System 10
11. System 11
12. System 12
13. iTOTO
'''

def generate_combi(type):
    '''
    Generates a set of numbers according to bet type.
    Generating winning numbers = type 7 for 6 numbers + 1 additional number
    '''
    if type == 13: type = 12 # iTOTO is System 12 as far as this function is concerned

    tmp = random.randint(1,49)
    combi = [tmp]
    for i in range(type-1): 
        while tmp in combi:
            tmp = random.randint(1,49)
        combi.append(tmp)
    return combi

def check_results(bet, winning_no, type, prize_pool):
    # Split winning numbers to main and additonal numbers (taken as the last number in the 7 generated)
    main = winning_no[0:6]
    additional = winning_no[6]

    # check matches for main numbers
    matches = [0 for i in bet]
    for i, b in enumerate(bet):
        for m in main:
            if b == m:
                matches[i] = 1
                break

    # check match for additional number
    add_match = 0
    for i, b in enumerate(bet):
        if b == additional:
            matches.append(1)
            add_match = 1
            break

    if add_match != 1: 
        matches.append(0)
    
    # Group winning amounts
    grp_amts = {
        1: 0.38*prize_pool,
        2: 0.08*prize_pool,
        3: 0.055*prize_pool,
        4: 0.03*prize_pool,
    }

    # Matrix of possible wins
    win_amt = [
        [0 , grp_amts[1] + grp_amts[2], grp_amts[1] + grp_amts[2] + grp_amts[3] + grp_amts[4], grp_amts[1] + grp_amts[2] + grp_amts[3] + grp_amts[4] + 1250, grp_amts[1] + grp_amts[2] + grp_amts[3] + grp_amts[4] + 3950, grp_amts[1] + grp_amts[2] + grp_amts[3] + grp_amts[4] + 8300, grp_amts[1] + grp_amts[2] + grp_amts[3] + grp_amts[4] + 14500, (grp_amts[1] + grp_amts[2] + grp_amts[3] + grp_amts[4] + 14500)/28],

        [grp_amts[1], grp_amts[1] + grp_amts[3], grp_amts[1] + grp_amts[3] + 750, grp_amts[1] + grp_amts[3] + 2450, grp_amts[1] + grp_amts[3] + 5300, grp_amts[1] + grp_amts[3] + 9500, grp_amts[1] + grp_amts[3] + 15250, (grp_amts[1] + grp_amts[3] + 15250)/28],

        [grp_amts[2], grp_amts[2] + grp_amts[3] + grp_amts[4], grp_amts[2] + grp_amts[3] + grp_amts[4] + 500, grp_amts[2] + grp_amts[3] + grp_amts[4] + 1600, grp_amts[2] + grp_amts[3] + grp_amts[4] + 3400, grp_amts[2] + grp_amts[3] + grp_amts[4] + 6000, grp_amts[2] + grp_amts[3] + grp_amts[4] + 9500, (grp_amts[3] + grp_amts[4] + 9500)/28],

        [grp_amts[3], grp_amts[3] + 250, grp_amts[3] + 850, grp_amts[3] + 1900, grp_amts[3] + 3500, grp_amts[3] + 5750, grp_amts[3] + 8750, (grp_amts[3] + 8750)/28],

        [grp_amts[4], grp_amts[4] + 150, grp_amts[4] + 490, grp_amts[4] + 1060, grp_amts[4] + 1900, grp_amts[4] + 3050, grp_amts[4] + 4550, (grp_amts[4] + 4550)/28],
        
        [50, 190, 460, 900, 1550, 2450, 3640, 3640/28],

        [25, 85, 190, 350, 575, 875, 1260, 1260/28],
        
        [10, 40, 100, 200, 350, 560, 840, 840/28],
    ]

    # Bet amounts for the different types of bets, 13 is iTOTO
    bet_amt = {
        6: 1,
        7: 7,
        8: 28,
        9: 84,
        10: 210,
        11: 462,
        12: 924,
        13: 33
    }

    # Logic for determining wins
    if sum(matches[0:6]) == 3 and matches[-1] == 0:
        return 7, win_amt[7][type-6] - bet_amt[type]
    elif sum(matches[0:6]) == 3 and matches[-1] == 1:
        return 6, win_amt[6][type-6] - bet_amt[type]
    elif sum(matches[0:6]) == 4 and matches[-1] == 0:
        return 5, win_amt[5][type-6] - bet_amt[type]
    elif sum(matches[0:6]) == 4 and matches[-1] == 1:
        return 4, win_amt[4][type-6] - bet_amt[type]
    elif sum(matches[0:6]) == 5 and matches[-1] == 0:
        return 3, win_amt[3][type-6] - bet_amt[type]
    elif sum(matches[0:6]) == 5 and matches[-1] == 1:
        return 2, win_amt[2][type-6] - bet_amt[type]
    elif sum(matches[0:6]) == 6 and matches[-1] == 0:
        return 1, win_amt[1][type-6] - bet_amt[type]
    elif sum(matches[0:6]) == 6 and matches[-1] == 1:
        return 0, win_amt[0][type-6] - bet_amt[type]
    
    return -1, -bet_amt[type] # no win


def simulate_bet(type, prize_pool):
    bet = generate_combi(type)
    winning_no = generate_combi(7)
    prize_group, win_amt = check_results(bet, winning_no, type, prize_pool)

    return prize_group, win_amt

def run_simulation(times, games_each_time, type, prize_pool):
    '''
    times: number of times to run the simulation
    games_each_time: how many games per simulation
    type: bet type
    prize_pool: suggest to use $3.7M as that is the median prize pool of TOTO
    '''

    results_list =  []
    for i in range(times*games_each_time):
        a = simulate_bet(type, prize_pool)
        results_list.append(list(a))

    result_df = pd.DataFrame(results_list)
    
    # Get net dollar amount at the end of each run of games.
    outcome = []
    for i in range(times):
        # As an example, for 1040 games per simulation, the index goes from [0,1039] then [1040, 2079] etc.
        outcome.append(result_df[games_each_time*i : games_each_time*(i+1)][1].sum())

    print(f'Mean: $ {np.mean(outcome):.2f}')
    print(f'Min: $ {np.min(outcome):.2f}')
    print(f'10th Percentile: $ {np.percentile(outcome, 10):.2f}')
    print(f'25th Percentile: $ {np.percentile(outcome, 25):.2f}')
    print(f'Median: $ {np.median(outcome):.2f}')
    print(f'75th Percentile: $ {np.percentile(outcome, 75):.2f}')
    print(f'90th Percentile: $ {np.percentile(outcome, 90):.2f}')
    print(f'Max: $ {np.max(outcome):.2f}')

    return result_df, outcome

In [12]:
result_df, outcome = run_simulation(2, 10, 6, 3700000)

Mean: $ -10.00
Min: $ -10.00
10th Percentile: $ -10.00
25th Percentile: $ -10.00
Median: $ -10.00
75th Percentile: $ -10.00
90th Percentile: $ -10.00
Max: $ -10.00

In [13]:
result_df6, outcome6 = run_simulation(1000, 1040, 6, 3700000)

Mean: $ 9330.06
Min: $ -980.00
10th Percentile: $ -870.00
25th Percentile: $ -835.00
Median: $ -790.00
75th Percentile: $ -735.00
90th Percentile: $ -650.00
Max: $ 406310.00

In [14]:
result_df7, outcome7 = run_simulation(1000, 1040, 7, 3700000)

Mean: $ 5171.14
Min: $ -6960.00
10th Percentile: $ -6595.50
25th Percentile: $ -6470.00
Median: $ -6285.00
75th Percentile: $ -6065.00
90th Percentile: $ -5794.50
Max: $ 604055.00

In [15]:
result_df8 , outcome8 = run_simulation(1000, 1040, 8, 3700000)

Mean: $ -9158.43
Min: $ -28230.00
10th Percentile: $ -27431.00
25th Percentile: $ -27040.00
Median: $ -26580.00
75th Percentile: $ -25950.00
90th Percentile: $ 84260.00
Max: $ 585060.00

In [16]:
result_df9 , outcome9 = run_simulation(1000, 1040, 9, 3700000)

Mean: $ -63216.50
Min: $ -85560.00
10th Percentile: $ -83960.00
25th Percentile: $ -83310.00
Median: $ -82410.00
75th Percentile: $ -81110.00
90th Percentile: $ 28650.00
Max: $ 528840.00

In [17]:
result_df10 , outcome10 = run_simulation(1000, 1040, 10, 3700000)

Mean: $ -193144.92
Min: $ -215025.00
10th Percentile: $ -212450.00
25th Percentile: $ -211175.00
Median: $ -209687.50
75th Percentile: $ -207618.75
90th Percentile: $ -98625.00
Max: $ 402975.00

In [18]:
result_df11 , outcome11 = run_simulation(1000, 1040, 11, 3700000)

Mean: $ -441768.84
Min: $ -475125.00
10th Percentile: $ -471135.00
25th Percentile: $ -468930.00
Median: $ -466585.00
75th Percentile: $ -462656.25
90th Percentile: $ -352804.50
Max: $ 1552160.00

In [19]:
result_df12 , outcome12 = run_simulation(1000, 1040, 12, 3700000)

Mean: $ -916009.65
Min: $ -954240.00
10th Percentile: $ -946260.00
25th Percentile: $ -943880.00
Median: $ -940100.00
75th Percentile: $ -933905.00
90th Percentile: $ -825530.00
Max: $ -207070.00

In [20]:
result_df13 , outcome13 = run_simulation(1000, 1040, 13, 3700000)

Mean: $ -32549.53
Min: $ -34065.00
10th Percentile: $ -33825.00
25th Percentile: $ -33710.00
Median: $ -33562.50
75th Percentile: $ -33295.00
90th Percentile: $ -29452.71
Max: $ 24621.79